<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />

    <title>全班成绩详情</title>
</head>
<body>
<div class="page-container">
    <h3>成绩详情</h3>
    <p style="color: gray">成绩详情，全班参加考试学生成绩。</p>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr class="text-c">
            <th width="50">学生姓名</th>
            <th width="50">班级名称</th>
            <th width="50">试卷名称</th>
            <th width="50">试卷总分</th>
            <th width="50">学生分数</th>
            <th width="50">及格情况</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="studentScoreList : ${studentScoreList}">
                <td th:text="${studentScoreList.STUDENT_NAME}" style="text-align: center"></td>
                <td th:text="${studentScoreList.CLASSNAME}" style="text-align: center"></td>
                <td th:text="${studentScoreList.EXAM_NAME}" style="text-align: center"></td>
                <td th:text="${studentScoreList.EXAM_TOTLESCORE}" style="text-align: center"></td>
                <td th:text="${studentScoreList.TOTALSCORE}" style="text-align: center"></td>
                <td th:text="${studentScoreList.TOTALSCORE}&gt;${studentScoreList.EXAM_TOTLESCORE}*0.6-1?'及格':'不及格'" style="text-align: center"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>