<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />

    <style>
        .formControls input{
            width: 300px;
        }
    </style>

    <title>批量导入</title>
</head>
<body>

<div style="margin-left: 20px;">
    <h3>用EXCEL方式导入</h3>
    <p style="color: gray">使用EXCEL做为模板文件，请注意格式要求，一种题型一个文件，多余的单元格可留空。</p>
    <p style="color: gray">请确保EXCEL文件版本为97-2003，并请勿删除（或新增）模板文件中的列，确保文件能顺利解析。</p>
    <p style="color: gray">请核对EXCEL文件中的填写日期单元格，其属性为“文本”。</p>
    <div class="page-container">
       <form class="form form-horizontal" id="form-article-add" action="/exam/batchAdd" method="post" enctype="multipart/form-data">
           <!--<div class="row cl">
               <label class="form-label col-xs-4 col-sm-2">题库名称: </label>
               <div class="formControls col-xs-8 col-sm-9">
                   <input type="text" name="qname" value="" class="input-text">
               </div>
           </div>-->
           <div class="row cl"style="display: inline-block;width: 540px;margin-left: 170px;">
               <label class="form-label col-xs-4 col-sm-2">所属题库: </label>
               <div class="formControls col-xs-8 col-sm-9" style="width: 150px;">
                   <select name="qname" class="select" style="width: 150px;">
                       <option th:each="bankName:${bankNameList}" th:value="${bankName.BANK_NAME}" th:text="${bankName.BANK_NAME}"></option>
                       <!--<option value="python">python</option>
                       <option value="php">php</option>-->
                   </select>
               </div>
           </div>

<!--           <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">下载模板</label>
                <div class="formControls col-xs-8 col-sm-9" style="width: 150px;">
                    <a href="/single.xls">单选模板</a><br>
                    <a href="/multiple.xls">多选模板</a><br>
                    <a href="/judge.xls">判断模板</a>
                </div>
            </div>-->

            <div class="row cl" style="margin-top: 30px;">
                <label class="form-label col-xs-4 col-sm-2">选择文件 </label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="file" name="excelFile">
                </div>
            </div>

            <div class="row cl" style="margin-top: 30px;">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <!--<input type="submit" value="批量导入">-->
                    <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 批量导入</button>
                </div>
            </div>
        </form>

    </div>
</div>
</body>
</html>
