<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />


    <title>批量添加</title>
</head>
<body>
<h3>批量添加</h3>
<p style="color: gray">批量添加，您可以整体的添加学生数据。</p>
<form action="/batch/batchAdd" method="post" enctype="multipart/form-data">
    <table border="1" th:height="300px">
        <tr><td>下载模板</td><td><a href="../mode/stu.xls"><input type="button" value="部门模板"></a> </td> </tr>
        <tr><td>选择文件</td><td><input type="file" name="excelFile"></td> </tr>
        <tr><td colspan="2"> <input type="submit" value="批量导入"> </td> </tr>
    </table>
</form>
</body>
</html>
