<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>><div>
    <h3>上传学生信息</h3>
    <form action="/exammanage/addUseFtp" method="post" enctype="multipart/form-data">
        <table border="1">
            <!--<tr><td>名称</td><td><input type="text" name="dname"> </td> </tr>
            <tr><td>位置</td><td><input type="text" name="loc"></td> </tr>-->
            <tr><td>EXCEL文件</td><td><input type="file" name="pic"></td> </tr>
            <tr><td colspan="2"> <input type="submit" value="添加"> </td> </tr>
        </table>
    </form>
</div>
<div>
    <h3>ftp学生信息列表</h3>
    <table border="1">
        <tr><td>文件名称</td><td>文件位置</td><td>操作</td></tr>
        <tr th:each="dept : ${ftpList}">
            <td th:text="${dept.FILE_NAME}"></td>
            <td th:text="${dept.FILE_PATH}"></td>
            <td>
                <a th:href="'/question/downFtpFile?fileName='+${dept.FILE_PATH}" >下载</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>