<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>物品报修</title>

    <!-- 引入样式 -->
    <script type="text/javascript" src="../vue.js"></script>
    <script type="text/javascript" src="../axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
<div id="titl" align="center">
    <h2>{{ message }}</h2>
</div>

<div id="app">
    <el-form ref="form" :model="form" label-width="400px">

        <el-form-item label="">
            <el-upload
                    class="upload-demo"
                    action="/batch/uploadPic"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :before-remove="beforeRemove"
                    multiple
                    :limit="3"
                    :on-exceed="handleExceed"
                    :file-list="fileList">
                <el-button size="small" type="primary">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
        </el-form-item>
    </el-form>
</div>

<script>

    var titl = new Vue({
        el: '#titl',
        data: {
            message: '批量导入'
        }
    });

    var app = new Vue({
        el: '#app',
        data:{
            isShow:true,
            dialogImageUrl: '',
            dialogVisible: false,
            //公寓
            room:[],
            options:[],
            form: {
                //公寓
                depar_id:'',
                deparName:'',
                user_name:'',
                repairDate:'',
                repairurl:'',
                UPLOADURL:'',
                repairContent:'',
                roomId:'',
                dormRoom:''
            },
            fileList: [{name: '',url: ''}]
        },

        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            //获取
            axios.post('/batch/getUpload').then(function (response) {
               // alert(response.data);
                console.log(response.data);
                self.fileList = response.data;
            })
        },
        methods: {
                handleRemove:function(file, fileList) {
                    console.log(file, fileList);
                },
                handlePreview:function(file) {
                    console.log(file);
                },
                handleExceed:function(files, fileList) {
                    this.$message.warning('当前限制选择 3 个文件，本次选择了'+ ${files.length}+'个文件，共选择了'+${files.length + fileList.length} +'个文件');
                },
                beforeRemove:function(file, fileList) {
                    return this.$confirm('确定移除 ${ file.name }？');
                }
        }
    })
</script>
</body>

</html>
